*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.thumbnail{
	background-color: #e1e1e1;
	width: 100%;
	padding-top: 80px;
	


}
.banner_slider .keshri{
	position: absolute;
	top: 30%;
	left: 10%;
	height: 100vh;
	width: 100%;
}
.keshri h6{
	color: white;
	background-color: purple;
	padding: 5px 10px 5px 12px;
	font-size: 14px;
	width: 100px;
	

}
.keshri h1{
	color: white;
	padding-left: 30px; 
	font-weight: bold;
	font-size: 50px;
	width: 160px;
	margin-top: -40px;
	

}
.keshri a{
	position: absolute;
	top: 150px;
	left: 50px;
	background: #ff9800;
	padding: 5px 20px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	 text-decoration: none;
	 transition: 5s linear;
}

.banner_slider .rahul img{
	width: 100%;
	height: 600px;

}

.thumbnail_slider img{
	max-width:100%;
	height: 100px;

}
.slider_wrap{
	position: relative;
}
.thumbnail_slider_area{
	position: absolute;
	left: 20%;
	bottom: 5px;
	width: 70%;
	padding: 0;
	z-index: 1;
}
.thumbnail_slider img{
	border: 2px solid white;
}
.thumbnail_slider img:hover{
	background-color: grey;
	opacity: 0.3;
	transform: translateY(-5px);
}