*{
	/*margin: 0;
	/*padding: 0;*/
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.footer{
	background: #00acee ;
	width: 100%;
	height: 500px;
	padding: 10px;
}
.footer-coal{

}
.footer1{
	margin: 20px 0;


}

.footer1 h1 a{
	font-size: 18px;
	color: #fff;


}
.footer1 h1 a:hover{
	text-decoration: none;
	color: #e1e1e1;
}


.footer1 ul{
	margin: 20px 0;
}
.footer1 ul li a{
	font-size: 14px;
	color: white;

}
.footer1 ul li a:hover{
	text-decoration: none;
	color: #e1e1e1;
}

.footer1 ul li h2 a{
	font-size: 20px;

}
.footer1 ul li h2 a:hover{
	text-decoration: none;
	color: #e1e1e1;
	
}
.footer2{
	margin: 20px 0;
}
.footer2 ul{
	display: flex;
	padding: 20px 50px; 
}
.footer2 ul li{
	padding: 0 20px;
}
.footer2 ul li a:hover{
	text-decoration: none;
	color: #e1e1e1;


}
.footer2 ul li a .fa{
	font-size: 30px;
	color: white;
}

.footer2 h1{
	position: absolute;
	bottom: 50px;
	left: 50%;

}
.footer2 h1 a{
	font-weight: bold;
	color: #fff;
}
.footer2 h1 a:hover{
	text-decoration: none;
}

.footer2:before{
	position: absolute;
	height: 200px;
	border-left:1px solid #fff;

	 
}


