
.banner img{
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100%;
	animation: ravi 2s ease;


}
@keyframes ravi{
	0%{
		transform: translateY(-50px);
	}
	100%{
		transform: translateY(0px);
	}
}
.carousel-caption{
/*	background-color: red;
*/	position: absolute;
	top: 20%;
	width: 600px;
	height: 400px;
	left: 30px;
	padding: 50px;
	text-align: left;
	animation: shape 2s ease;
}
@keyframes shape{
	0%{
		transform: translateY(100px);
	}
	100%{
		transform: translateY(0px);
	}
}
.carousel-caption .para1{
	background-color: purple;
	display: inline-block;
	position: absolute;
	top: 10px;
	color: #fff;
	padding: 5px;
	left: 50px;
	font-size: 16px;
	opacity: 0.9;

}
  .carousel-caption h1{
/*	background-color: pink;
*/	font-size: 50px;
	color: #fff;
	word-spacing: 0px;
	
}
.carousel-caption h1 span{
	padding-top: -20px; 
}

.carousel-caption .intro{
	/*background-color: pink;*/
	width: 320px;
	margin:20px 0 10px 60px;
	padding-left: 10px;
	height: 150px;
}
.carousel-caption .intro:before{
	content: '';
	border-left: 1px solid #e2a330;
	height: 160px;
	position: absolute;

	left: 108px;
	animation: shaped 3s ease;
	
}
@keyframes shaped{
	0%{
		transform: translateY(300px);

	}
	100%{
		transform: translateY(0px);
	}
}
.carousel-caption .intro p{
	/*background: grey;*/
	padding: 0px 0px 0px;
	color: white;
	font-size: 16px;
	margin-top: -10px;


}
.carousel-caption .intro a{
	background: #e2a330;
	padding: 7px 15px;
	color: white;
	text-decoration: none;


/*margin: 20px;*/
}
.carousel-caption .intro a:hover{
	background: #000;
	transition: 0.5s linear

	
	
}
.carousel-caption  .intro a .fa{
	animation: animate 3s linear infinite;
}
@keyframes animate{
	0%{
		transform: translateX(2px);
	}
	20%{
		transform: translateX(5px);
	}
	60%{
		transform: translateX(7px);
	}
	80%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0px);
	}
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	display: none;
}
.carousel-indicators{
	justify-content: left;
}
.carousel-indicators li{
	width: 8px;
	height: 8px;
	
}









/*------------About-section------------*/

.about{
	background-color: #E1E1E1;
	width: 100%;
	
	padding: 80px 0;
	position: relative;
}
.about .heading{
	position: absolute;
	top: 7%;
	left: 100px;
	z-index: 2;
	opacity: 0.8;
	box-shadow: 0 6px 9px 0 rgba(0,0,0,0);

}
.about .heading h2{
	font-size: 25px;
	background-color: #fff;
	padding: 15px 20px;
	display: inline-block;
	font-weight: bold;


}





.about1 .carousel-indicators, .about-section .carousel-indicators{
	justify-content: left;

}
.about1 .carousel-indicators li, .about-section .carousel-indicators li{
	width: 8px;
	height: 8px;
	/*border-radius: 50%;*/
	background-color: white;
}
.about .container{
	margin-top: 20px;
}

.about1 .carousel-inner, .about-section .carousel-inner{
	width: 100%;
	height: 400px;
}
.about1 .carousel-item, .about-section .carousel-item{
	height: 100%;
}
 .row{
	margin-right: 0;
	margin-bottom: 50px;
	margin-left: 0; 
}
 .col-6{
	padding-right: 0;
	padding-left: 0;
}

.content1{
	background-color: white;
	
	
	padding: 10px 0px 10px 50px;
	
}
.content1:hover{
	background-color: #F8F8F8;
	transition: 2s ease;
}
.content1 a{
	
	
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;


}
.content1 a:hover{
	text-decoration: none;
}
h6{
	margin-top: 50px;
	margin-bottom: 40px;
	width: 250px;
	font-size: 18px;
	font-weight: 500;
	
}
p{
	color: #fff;
}
.content1 p{
	padding-left: 50px;
	font-size: 14px;
	width: 300px; 
	color: black;

}
.content1 p:before{
	content: '';
	position: absolute;
	border-left: 1px solid #ff9800;
	height: 100px;
	left: 90px;
	animation: test 2s ease;
	

}
@keyframes test{
	0%{
		transform: translateY(100px);
		height: 20px;
	}
	100%{
		transform: translateY(0px);
		height: 100px;
	}
}

.cont2{
	background: #00acee;
	padding: 10px 0px 10px 50px;
}
.cont2 a .fa-twitter{
	font-size: 30px;
	border: white;
	color: white;
	padding-top: 30px;

}

.cont2 p,.cont3 p,.photo1 p{
	margin: 50px 0px;
	width: 250px;
}
.cont2 p:before{
	content: '';
	position: absolute;
	border-left: 1px solid #fff;
	height: 180px;
	left: 40px;
	animation: teste 2s ease;
	

}
@keyframes teste{
	0%{
		transform: translateY(200px);
		height: 70px;
	}
	100%{
		transform: translateY(0px);
		height: 180px;
	}
}



.cont3 a .fa-facebook{
	font-size: 30px;
	border: white;
	color: white;
	padding-top: 30px;


}
.cont3{
	background: pink;
	position: relative;
	padding: 10px 0px 10px 50px;
} 
.cont3:before{
	content: '';
	background: black;
	width: 100%;
	height: 100%;
	
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	
	display: block;
	z-index: 1;
}
.cont3 p:before{
	content: '';
	position: absolute;
	border-left: 1px solid #fff;
	height: 180px;
	left: 38px;
	animation: teste 2s ease;
	

}
@keyframes teste{
	0%{
		transform: translateY(200px);
		height: 70px;
	}
	100%{
		transform: translateY(0px);
		height: 180px;
	}
}


.photo1{
	background-color: orange;
	padding: 10px 0px 10px 50px;
}
.photo1 p:before{
	content: '';
	position: absolute;
	border-left: 1px solid #fff;
	height: 180px;
	left: 50px;
	animation: teste 2s ease;
	

}
@keyframes teste{
	0%{
		transform: translateY(200px);
		height: 70px;
	}
	100%{
		transform: translateY(0px);
		height: 180px;
	}
}
.photo1 a .fa-instagram{
	padding-top: 30px;
	font-size: 30px;
	border: white;
	color: white;

}
/*------------------------Footer-section-----------------*/
*{
	/*margin: 0;
	/*padding: 0;*/
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.footer{
	background: #00acee ;
	width: 100%;
	height: 700px;
	padding: 10px;
}
.footer-coal{

}
.footer1{
	margin: 20px 0;


}

.footer1 h1 a{
	font-size: 18px;
	color: #fff;


}
.footer1 h1 a:hover{
	text-decoration: none;
	color: #e1e1e1;
}


.footer1 ul{
	margin: 20px 0;
}
.footer1 ul li a{
	font-size: 14px;
	color: white;

}
.footer1 ul li a:hover{
	text-decoration: none;
	color: #e1e1e1;
}

.footer1 ul li h2 a{
	font-size: 20px;

}
.footer1 ul li h2 a:hover{
	text-decoration: none;
	color: #e1e1e1;
	
}
.footer2{
	margin: 20px 0;
}
.footer2 ul{
	display: flex;
	padding: 20px 50px; 
}
.footer2 ul li{
	padding: 0 20px;
}
.footer2 ul li a:hover{
	text-decoration: none;
	color: #e1e1e1;


}
.footer2 ul li a .fa{
	font-size: 30px;
	color: white;
}

.footer2 h1{
	position: absolute;
	bottom: 50px;
	left: 50%;

}
.footer2 h1 a{
	font-weight: bold;
	color: #fff;
}
.footer2 h1 a:hover{
	text-decoration: none;
}

/*-------------------Footer-section-end---------------*/
